.card {
    flex-basis: calc(50% - 50px);
    max-width: 600px;
    list-style: none;
    padding: 0;
    
}
.card__title {
    font-family: 'Inter', Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 32px;

}
.card__list-item {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.card__list-item:last-child{
    margin-bottom: 0;
}
.card__list-divider {
  display: flex;
  flex-grow: 1;
  border:0;
  border-bottom: 1px solid white;

}