.form{
    max-width: 385px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}
.form__fieldset{
	margin: 0;
    padding: 0;
	border: none;
	
}
.form__label{
font-family: "Inter", Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-top: 0;
width: 385px;
display: flex;
justify-content: center;

}


.form__input{
width: 385px;	
box-sizing: border-box;
font-family: "Inter", Arial, sans-serif;
font-size: 20px;
line-height: 30px;
border-radius: 4px;
height: 60px;
margin-bottom: 32px;
color: #838383;
}
.form__button{
    font-family: "Inter", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
    background-color: #2f80ed;
	border-radius: 4px;
	border: 0 none;
	color: #fff;
	height: 60px;
	width: 385px;
	margin-top: 32px;
    margin-bottom: 32px;
    /*margin-left: 0;*/
}

.form__button:hover {
        opacity: 0.7;
        transition: 0.3s;
}
.form__checkbox{
 margin: 0 12px 0;
 border-radius: 2px;
 height: 20px;
 width: 20px;
 display: flex;
 margin-right: 12px;

 
  }
  