.menu{
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.menu__title{
max-width: 780px;
bottom: 100px;
}

.menu__subtitle{

}
.menu__cards{
display: flex;
gap: 100px;
justify-content: space-between;
flex-wrap: wrap;
}
.card{

}
.card__title{

}
.card__list-item{
list-style: none;
}
.card__list-divider{
border-bottom: 1px solid white;

}