.menu{
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;
    padding: 100px;

}
.menu__title{
font-family: 'Inter', Arial,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
width: 780px;
display: flex;
justify-content: center;
padding-bottom: 24px;
margin: auto;


}

.menu__subtitle{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 24px;
}
.menu__cards{
display: flex;
gap: 100px;
justify-content: space-evenly;
flex-wrap: wrap;
}
