.menu{
    background-color: #0a2750;
    background-image: url('../images/background_menu.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}
.menu__title{
max-width: 780px;
bottom: 100px;
}

.menu__subtitle{

}
.menu__cards{
display: flex;
gap: 100px;
justify-content: center;
flex-wrap: wrap ;
}
